@font-face {
    font-family: merriweather;
    src: url(Merriweather-Light.ttf);
}

body{
    background-color: black;
    color: white;
    font-family:merriweather;
}

#body-container {
    position:relative;
    margin-left:32%;
}

.menu-content {
    display: flex;
    flex-direction:column;
    position: absolute;
    top:300px;
    left:270px;
    width: fit-content;
    min-width:30%;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    gap: 2px;
}

.menu-element {
    border: 2px solid white;
    border-radius: 2px;
    padding: 3px 6px;
    background-color: black;
}

.content {
    border: 2px solid white;
    border-radius: 2px;
    padding: 10px 20px;
    width:540px;
    background-color: black;
}

p,h1 {
   margin: 30px 0;
   text-align: center;
}

h1{
    font-size: 25px;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color:white;
}

a:active {
    color: grey;
}