.shrine {
    display: block;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

#shrine-content{
    border: 2px solid white;
    padding: 0 30px 30px 30px;
    background-color: black;
    position: fixed;
    top: 100px;
    left: 36%;
}

.donation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
    align-items: flex-start;
}

.donimg {
    width: 100px;
    height:auto;
}

.donation-element {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

h3{
    text-align: center;
    margin-bottom: 100px;
}

#cross {
    width: 20px;
    height:auto;
    position: absolute;
    right: 10px;
    top: 10px;
}
